*.log
mysql
.idea
node_modules
.DS_Store
.DS_Store?
frontEnd/dist
log
frontEnd/public/static/dependencies/bootstrap
frontEnd/public/static/dependencies/bootstrap-datepicker
frontEnd/public/static/dependencies/bootstrap-daterangepicker
frontEnd/public/static/dependencies/bootstrap3-dialog
frontEnd/public/static/dependencies/bootstrap-table
frontEnd/public/static/dependencies/ckeditor
frontEnd/public/static/dependencies/cropper
frontEnd/public/static/dependencies/crypto-js
frontEnd/public/static/dependencies/fastclick
frontEnd/public/static/dependencies/font-awesome
frontEnd/public/static/dependencies/jquery
frontEnd/public/static/dependencies/jquery-slimscroll
frontEnd/public/static/dependencies/jquery-sparkline
frontEnd/public/static/dependencies/jquery-ui
frontEnd/public/static/dependencies/lightbox2
frontEnd/public/static/dependencies/moment
frontEnd/public/static/dependencies/raphael
frontEnd/public/static/dependencies/select2
frontEnd/public/static/dependencies/store
frontEnd/public/static/dependencies/tableexport.jquery.plugin
frontEnd/public/static/dependencies/x-editable
